<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <title>Meme generátor o letání</title>
</head>
<body>
    <div class ="all-content">
    <div class = "container">
        <h1>Meme Generátor o létání</h1>
        <button onclick="window.location.href='meme.html'">Generuj nové</button>
    </div>

    <div class="container">

    <img th:src="${'images/obrazek' + obrazekNahodny + '.jpg'}"/>
        <div class="up-right">
    <div th:text="${vyrokNahodny}">
    </div>
        <div class="author"th:text="${vyrokAutor}"></div>

        </div>

    </div>
    <div class = "container">
    <a th:href="${linkZdroj}">Zdroj obrázku</a>
    <br>
    <a href="https://www.cernaskrinka.net/">Zdroje citátů</a>
    </div>
    </div>



</body>
</html>
